N8N_PORT=5678
NODE_FUNCTION_ALLOW_BUILTIN=fs,path
CFDI_CATALOG_PATH=C:/Users/Juandi Gamer/Documents/Flujo N8N CFDI/data/concepts.normalized.json
CFDI_RUNTIME_PATH=C:/Users/Juandi Gamer/Documents/Flujo N8N CFDI/runtime
TELEGRAM_BOT_TOKEN=REEMPLAZAR_TELEGRAM_BOT_TOKEN_EN_N8N
TELEGRAM_POLLING_INTERVAL_SECONDS=30
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=cfdi_bot
POSTGRES_USER=cfdi_bot_user
POSTGRES_PASSWORD=CAMBIAR_PASSWORD_LOCAL
